    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="{{GetBackendPath}}/getCurrentUserAvatar" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{getUserName}}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul side-navigation class="sidebar-menu" role="navigation">
        <li class="header">MAIN NAVIGATION</li>
		
        <li ui-sref-active="active">
          <a ui-sref="index.main">
            <i class="fa fa-star"></i> <span>Dashboard</span>
          </a>
        </li>		
		
        <li class="active treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Log Files</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li ui-sref-active="active"><a ui-sref="index.logs_nginx"><i class="fa fa-circle-o"></i> nginx Access Log</a></li>
            <li ui-sref-active="active"><a ui-sref="index.logs"><i class="fa fa-circle-o"></i> nginx Error Log</a></li>
			<!--<li ui-sref-active="active"><a ui-sref="index.minor"><i class="fa fa-circle-o"></i> MyriaDB Log</a></li>
			<li ui-sref-active="active"><a ui-sref="index.minor"><i class="fa fa-circle-o"></i> php Error Log</a></li>
			<li ui-sref-active="active"><a ui-sref="index.minor"><i class="fa fa-circle-o"></i> Authserver Log</a></li>
			<li ui-sref-active="active"><a ui-sref="index.minor"><i class="fa fa-circle-o"></i> Worldsrver Log</a></li>-->
          </ul>		  
		  
        </li>
		
        <li>
          <a ui-sref-active="active"><a ui-sref="index.config">
            <i class="fa fa-wrench"></i> <span>Configuration</span>
            <small class="label pull-right bg-green">new</small>
          </a>
        </li>		

        <li>
          <a href="pages/widgets.html">
            <i class="fa fa-th"></i> <span>Development</span>
            <small class="label pull-right bg-green">new</small>
          </a>
        </li>
		
		
		<li>
			<a onclick="loadExternal('http://127.0.0.1/tools/webinterface')" href="">
				<i class="fa fa-external-link"></i>
				<span>WPN-XM Administration</span>
			</a>
		</li>			
		

        <li class="header">MMOwning</li>
        <li><a href="http://www.mmowning.de"><i class="fa fa-circle-o text-red"></i> <span>MMOwning.de</span></a></li>
        <li><a href="https://github.com/MMOwning"><i class="fa fa-circle-o text-yellow"></i> <span>MMOwning GitHub</span></a></li>
        <li><a href="https://github.com/MMOwning/MMOCore"><i class="fa fa-circle-o text-aqua"></i> <span>MMOwning MMOCore</span></a></li>
      </ul>
    </section>